.wrap {
  background-color: greenyellow;
  height: 200px;
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currency-box {
  margin: auto;
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.currency-box input {
  width: 100%;
  max-width: 100px;
  height: 30px;
  border: 1px solid greenyellow;
}

.currency-box select {
  width: 100%;
  max-width: 100px;
  height: 30px;
  border: 0;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  max-width: 400px;
}
