.wrap {
  margin: 10% 10% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2%;
  box-shadow: 13px 13px 15px rgb(160, 179, 135);
}
.currency-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.currency-box input {
  position: block;
  width: 223px;
  height: 40px;
  padding: 1px 6px 1px 12px;
  font-size: 16px;
  text-decoration: none solid rgt(77, 81, 86);
  text-align: left;
  border: 1px solid grey;
  border-radius: 10px;
  background: transparent;
  overflow: hidden;
  cursor: text;
  line-height: 40px;
}

.currency-box select {
  font-size: 15px;
  line-height: 40px;
  word-spacing: 0px;
  height: 40px;
  width: 130px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 0;
  border-left: 0.5px solid rgb(235, 235, 235);
  position: absolute;
  left: 110px;
  display: block;
  z-index: 1;
  cursor: default;
  outline: 0;
}

.currency-box select:focus {
  background-color: rgb(235, 235, 235);
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1%;
  width: 100%;
  max-width: 243px;
}
.ref {
  margin-right: 10%;
  overflow: hidden;
  text-align: right;
  font-size: smaller;
  color: gray;
  opacity: 60%;
}
